# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE configuration directories
.idea/

# Ignore environment files
.env

# Ignore virtual environment directories
myenv/
/cogs/__pycache__
cogs/__pycache__/moderation.cpython-312.pyc
cogs/__pycache__/reactions.cpython-312.pyc
